.about{
	position: relative;
	//padding: 50px 25px;
	min-height: 750px;
	width: 100%;
	margin: 0;
	background-color:$main-color;
	overflow: hidden;
	
	&__right{
		position: relative;
		background-color:  $second-color;
		margin: 0;
		padding: 20px;
		min-height: 600px;
		width: 40%;
		float: left;
		top:10%;
	}
	&__img{
		position: absolute;
		display: block;
		width: 470px;
		float: right;
		top: 4%;
		left: 30%;
		z-index: 1;

	}
	&__left{
		position: relative;
		background-color:  $main-color;
		margin: 0;
		padding: 20px;
		min-height: 600px;
		width: 60%;
		float: right;
	}
	&__box{
		display: block;
		margin: 0 auto;
		margin-top: 50px;
		width: 70%;
	}
	&__title{
		font-size: 30px;
		font-weight: 800;
		color: #ffffff;
		text-align: left;
		width: 100%;		
		float: left;
	}
	&__descr{
		float: left;
		width: 100%;
		font-size: 17px;
		font-weight: bold;
		color: #151515;
		text-align: left;
		margin-top: 30px;
	}
	&__vertical{
		position: absolute;
		float: left;
		transform: rotate(270deg);
		transform-origin: left top 0;
		font-size: 90px;
		font-weight: 800;
		color: $main-color;
		text-transform: uppercase;
		top: 80%;
		left: 7%;
	}
	
}