.technology{
	min-height: 500px;
	padding: 100px 50px ;
	&__wrapper{
		display: flex;
		align-items: center;
	
		justify-content: center;
        flex-wrap: wrap;
	}
	&__item{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		width: 275px;
		min-height: 400px;
		box-shadow: 0 0 20px $main-dark;
		padding: 10px;
		&:nth-child(even){
			background-color: $second-color;
		}
		&:hover{
			box-shadow: 0 0 50px $main-dark;
		}
	}
	&__img{
		display: block;
		margin: 0 auto;
		width: 128px;
		margin-top: 25px;
	}
	&__title{
		display: block;
		margin: 0 auto;
		color: $main-dark;
		font-size: 24px;
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
	}
	&__descr{
		display: block;
		margin: 0 auto;
		font-size: 16px;
		margin-top: 10px;
		text-align: center;
		

	}
	&__link{
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		text-decoration: none;
		text-align: center;
		margin-top: 30px;
		color: $main-dark;
		font-size: 16px;
		width: 128px;
		
		&:hover{
			text-decoration: none;
			font-size: 20px;
			font-weight: bold;
			color: $main-dark;
			border: 1px solid $main-dark;
			box-shadow: inset 0 0 5px $main-dark;

		}
		
	}
	
}