.wave {
    position: absolute;
	left: 0;
	bottom: 0;
    width: 200%;
	height: 15%;
	overflow: hidden;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveWrapper{
	overflow: hidden;
}
.waveTop {
	background-size: 50% 100px;
	z-index: 15;
    opacity: 0.5;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
	background-size: 50% 120px;
	z-index: 10;
    opacity: 0.75;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
	background-size: 50% 100px;
	z-index: 5;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

